@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #ddd;
}

header{
    box-sizing: border-box;
    background-color: blue;
    color: #ffffff;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a, a:hover{
    text-decoration: none;
    color: unset;
}